
<launch>
  <master auto="start"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/>
    <rosparam file="/home/li/catkin_ws/src/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/li/catkin_ws/src/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/home/li/catkin_ws/src/move_base_config/local_costmap_params.yaml" command="load" />
    <rosparam file="/home/li/catkin_ws/src/move_base_config/global_costmap_params.yaml" command="load" />
    <rosparam file="/home/li/catkin_ws/src/move_base_config/base_local_planner_params.yaml" command="load" /> 
  </node>
</launch>
